extends ../layouts/default

block js

block append variables 
	- var currentPage = "code";

mixin timelineElement(number,title,link)
	.container(id="code"+number class=(number%2==0?"right":"left")+" arrowColor"+number)
		.content.shadow.rounded
			a(href=link)
				.headContent(class="backgroundColor"+number)
					.numberBox(class="backgroundColorDark"+number)
						span=number<10?("0"+number):(number)
					h2=title
			.bodyContent
				if block 
					block
				else
					p Empty

mixin modalBox(number,id,title,param)
	.modal.fade(id=id tabindex="-1" role="dialog" aria-labelledby=id+"Label" aria-hidden="true")
		.modal-dialog(role="document").modal-lg
			.modal-content
				.modal-header(class="backgroundColor"+number)
					h3.modal-title(id=id+"Label")=title
					button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
				.modal-body
					if block 
						block 
					else
						p Empty
				.modal-footer
					button.btn.btn-link(data-bs-dismiss="modal") Close

block content
	.container
		h1 My Coding Journey
		p (so far)
		#timeline: .timeline
			+timelineElement(1,"Scratch","https://scratch.mit.edu/projects/65949210/")
				p My programming experience started with Scratch. I really enjoy creating games and animation using blocks and sprites when I was small. My favourite projects are ...
				p: button#codeModalTrigger01.btn.btn-link(data-bs-toggle="modal" data-bs-target="#codeModal01") Read More
				a(href="https://scratch.mit.edu/projects/65949210/")
					+figureWithCaption("images/code/code-scratch-0.png","Cover page of my Scratch game","w-100")
				+modalBox(1,"codeModal01","Scratch","")
					p My programming experience started with Scratch. I really enjoy creating games and animation using blocks and sprites when I was small. Below are my two favourite projects I made in Scratch.
					br
					h4 Cheesy Puffs Game
					p A simple game where you have to catch as many cheesy puffs from the sky.
					p: a(href="https://scratch.mit.edu/projects/65949210/") Play
					.row
						.col-12.col-lg-6: +figureWithCaption("images/code/code-scratch-1.png","Gameplay","w-100")
						.col-12.col-lg-6: +figureWithCaption("images/code/code-scratch-2.png","A portion of the Scratch code","w-100")
					br
					h4 GROW Weather
					p A game based on GROW, a game made by <a href="https://www.eyezmaze.com/">Eyemaze</a>. If you are unfamilar with GROW, you could read my Introduction to GROW PowerPoint below.
					p How to play GROW?
					ol
						li Click the items in sequence
						li The items will interact with each other
						li Observe the results
						li Improve your sequence
						li Guess the correct sequence after millions of tries, which results in all items at level max.
					p: a(href="https://1drv.ms/p/s!AnFF5OvoIlvWgZEoYX-qy715giRCew?e=ed2p91") Introduction to GROW PowerPoint
					p: a(href="https://scratch.mit.edu/projects/147674805/") Play
					.row
						.offset-lg-3
						.col-12.col-lg-6: +figureWithCaption("images/code/code-scratch-3.png","Gameplay","w-100")
			

			+timelineElement(2,"Java and C++")
				p After having fun with Scratch for around three years, I was eager to learn other programming languages, and I made some classic games with them.
				p: button#codeModalTrigger02.btn.btn-link(data-bs-toggle="modal" data-bs-target="#codeModal02") Read More
				+figureWithCaption("images/code/code-cpp-0.png","Snake Game","w-100")
				+modalBox(2,"codeModal02","Java and C++","")
					p After having fun with Scratch for around three years, I was eager to learn other programming languages, and I made some classic games with them.
					p: small Note that C++ programs could only run on Windows. JRE needs to be installed in order to run Java programs. For details, click on the links and refer to the documents inside.
					p: a(href="https://drive.google.com/drive/folders/1kWwFWxx6A9JtngGi_i3UkGucF55LupYU?usp=sharing") C++: Pong Game
					p: a(href="https://drive.google.com/drive/folders/1-Iq0xLZr2xaKVcvd4IlHjxbqXmz_O2R2?usp=sharing") C++: Snake Game
					p: a(href="https://drive.google.com/drive/folders/10EtqrYdYdUGyHBmHiPvhcj_1ZVkBofRa?usp=sharing") Java: Guess the Number
			

			+timelineElement(3,"Chem Quiz","https://chemquiz.netlify.app")
				.languagesGroup 
					+figureWithCaption("images/code/languages/html.png","HTML","language")
					+figureWithCaption("images/code/languages/css.png","CSS","language")
					+figureWithCaption("images/code/languages/js.png","Javascript","language")
				p A website I made in form 3 to kind of help my friends in Chemistry revision. Made with old html, css, and javascript. :) (I am never doing this again...)
				p: small Note that some of the answers might be wrong because I did not take solubility of chemicals in to account back then.
				p: a(href="https://chemquiz.netlify.app") Link
				a(href="https://chemquiz.netlify.app")
					+figureWithCaption("images/code/code-chemquiz-0.png","Chemical formula to name quiz","w-100")
				

			+timelineElement(4,"Websites for School")
				.languagesGroup 
					a(href="https://v4.keystonejs.com/")
						+figureWithCaption("images/code/languages/keystonejs.png","KeystoneJS (V4)","language")
					a(href="https://expressjs.com/")
						+figureWithCaption("images/code/languages/expressjs.png","ExpressJS","language")
				.languagesGroup 	
					a(href="https://getbootstrap.com/")
						+figureWithCaption("images/code/languages/bootstrap.png","Bootstrap","language")
					a(href="https://pugjs.org/")
						+figureWithCaption("images/code/languages/pugjs.png","PugJS","language")
					a(href="https://lesscss.org/")
						+figureWithCaption("images/code/languages/less.png","Less","language")
				p I have made some websites for my secondary school - St. Joseph's College. 
				p For example, as part of the Chinese Cultural Society, I suggested making a website for an online competition to facilitate Chinese learning during the COVID-19 outbreak in February 2020.
				p: button#codeModalTrigger04.btn.btn-link(data-bs-toggle="modal" data-bs-target="#codeModal04") Read More
				+modalBox(4,"codeModal04","Websites for School","")
					h4 Content
					p I have made some websites for my secondary school - St. Joseph's College. 
					p For example, as part of the Chinese Cultural Society, I suggested making a website for an online competition to facilitate Chinese learning during the COVID-19 outbreak in February 2020.
					p I chose KeystoneJS as a framework for my website, which is a Node.js framework that allowed me to work with databases and reuse repetitive code. It was more enjoyable to create the websites by writing code than dragging and dropping elements using online website creators, since the former offers increased flexibility. The satisfaction brought by my schoolmates joining the competition and trying out the website I made was irreplaceable.
					p I would like to give special thanks to Anders, an old boy of SJC who taught me how to use Git, WSL, and more web development skills including the mentioned framework.
					p Very sorry I could not provide the URLs here as these website are not my personal projects.
					h4 Technology
					p KeystoneJS (V4) provides a MongoDB database, runs on the ExpressJS framework, with Bootstrap for styling I am also writing Pug and Less instead of HTML and CSS, as they are generally more convenient (e.g. with variables).
				+figureWithCaption("images/code/code-sjc-0.png","Homepage of the Chinese online compeition website","w-100")
				
				

			+timelineElement(5,"HyMinions","https://hyminions.herokuapp.com")
				.languagesGroup
					a(href="https://expressjs.com/")
						+figureWithCaption("images/code/languages/expressjsplus.png","ExpressJS + tools","language")
					a(href="https://firebase.google.com/")
						+figureWithCaption("images/code/languages/firebase.png","Firebase","language")
				p I have been playing a game called Hypixel Skyblock since 2019. I created a website calculating the optimal setup to maximize offline income based on the real-time market price of the game.
				p I originally made this website just to fulfill my interest in Maths, coding, and the game. However, thanks to the promotion by Youtubers, the website is known to many Hypixel Skyblock players. Currently, it has over 500 daily viewers and it is generating a considerable amount of ad revenue! Being able to earn money through a passion project is a mircale to me.
				p: a(href="https://hyminions.herokuapp.com") Link
				p: button#codeModalTrigger05.btn.btn-link(data-bs-toggle="modal" data-bs-target="#codeModal05") View Screenshots
				a(href="https://hyminions.herokuapp.com"): img.w-100(src="images/code/code-hyminions-0.png")
				+modalBox(5,"codeModal05","HyMinions","")
					.row
						.col-12.col-lg-6: +figureWithCaption("images/code/code-hyminions-1.png","A portion of the homepage","w-100")
						.col-12.col-lg-6: +figureWithCaption("images/code/code-hyminions-2.png","Events timer","w-100")
					.row
						.col-12.col-lg-6: +figureWithCaption("images/code/code-hyminions-3.png","Profit calculator","w-100")
						.col-12.col-lg-6: +figureWithCaption("images/code/code-hyminions-4.png","Looks good on mobile","w-100")

				
			+timelineElement(6,"UK Gadgets","https://ukgadgets.netlify.app")
				.languagesGroup
					a(href="https://reactjs.org/")
						+figureWithCaption("images/code/languages/react.png","React","language")
				p Some small tools (timezone converter and currency exchange) for Hongkongers that might be useful when studying or working in the UK.
				p One feature it has is that it automatically determines if daylight saving time is active in the UK.
				p This is my first time using React, it certainly feels very different. I do struggle a bit with state management, which is one of the things I aim to learn next summer.
				p: a(href="https://ukgadgets.netlify.app") Link
				
			
			+timelineElement(7,"Oxford Hack - Green Me","https://devpost.com/software/green-me-957hrk")
				.languagesGroup
					a(href="https://expressjs.com/")
						+figureWithCaption("images/code/languages/expressjsplus.png","ExpressJS + tools","language")
					+figureWithCaption("images/code/languages/pythonflasksqlite.png","Flask + SQLite","language")
				p Green Me gamifies actions to reduce an individual's environmental footprint. After registration, the user completes a questionnaire about their current habits. Next, the user is presented with a dashboard of actions that the app recommends that they take based on the questionnaire. Each time, an action is taken, the user is rewarded with points.
				p We even managed to win one of the mini challenges "best use of Auth0"
				
				p: a(href="https://devpost.com/software/green-me-957hrk") Description on Devpost
				p: button#codeModalTrigger07.btn.btn-link(data-bs-toggle="modal" data-bs-target="#codeModal07") Read More
				a(href="https://devpost.com/software/green-me-957hrk"): img.w-100(src="images/code/code-greenme-0.png")
				+modalBox(7,"codeModal07","Oxford Hack - Green Me","")
					p Oxford Hack 2022 is my first Hackathon. I made Green Me with two other teammates, Johnathan and Viktor. Johnathan guided us as he is the only one in our team who participated in Hackathons before, and mainly work on the backend. Viktor mainly work on the algorithm on task recommendation and research, while I mainly worked on the frontend of the web app. 
					p It is indeed a very different experience working as a team and coding in a timed setting. I learnt a lot about how to connect the two together using REST API calls, maintain the pace of working to avoid over-exhaustion throughout the whole 24 hours, and communicate with my teammates on the conventions that we will use throughout the code. 
					h4 Content
					p Green Me gamifies actions to reduce an individual's environmental footprint. After registration, the user completes a questionnaire about their current habits. This is fed into a complex matrix of probabilities and known impact reductions to build a model of likely actions that this user would take. For example, a user may indicate that it would be highly difficult for them to give up flying, but it would be easy to reduce their milk consumption.
					p Next, the user is presented with a dashboard of actions that the app recommends that they take. Each time, an action is taken, the user is rewarded with points.
					p We even managed to win one of the mini challenges "best use of Auth0"
					p Sadly that this website is not available anymore as we ran out of Google Cloud credits.
					h4 Technology
					p ExpressJS for frontend, Python Flask and SQLite for backend.
					.row
						.col-12.col-lg-6: +figureWithCaption("images/code/code-greenme-1.png","Login page powered by Auth0","w-100")
						.col-12.col-lg-6: +figureWithCaption("images/code/code-greenme-2.png","Questionnaire page","w-100")
					.row
						.col-12.col-lg-6: +figureWithCaption("images/code/code-greenme-3.png","Tasks page","w-100")
						.col-12.col-lg-6: +figureWithCaption("images/code/code-greenme-4.png","Report progress page","w-100")
					.row
						.col-12.col-lg-6: +figureWithCaption("images/code/code-greenme-5.png","Yay you are helping the planet!","w-100")
						.col-12.col-md-6.col-lg-3: +figureWithCaption("images/code/code-greenme-6a.png","Looks good on mobile","w-100")
						.col-12.col-md-6.col-lg-3: +figureWithCaption("images/code/code-greenme-6b.png","Looks good on mobile","w-100")
			
			
			+timelineElement(8,"OrdinaryIdle","https://play.google.com/store/apps/details?id=com.kidprof.ordinaryidle")
				.languagesGroup
					a(href="https://flutter.dev/")
						+figureWithCaption("images/code/languages/flutter.png","Flutter","language")
				p Play like any normal idle games, except there are some easter eggs that you could find in order to progress the game faster. Have fun finding! :) There are multiple themes with completely different secrets for you to discover.

				p This game is written in Flutter so it is supposed to be able to run on both iOS and Android (and also web, even though it looks a bit weird). But unfortunately I cannot to put it on App Store because it is quite expensive to do so.
				
				p: a(href="https://play.google.com/store/apps/details?id=com.kidprof.ordinaryidle") Link to Google Play
				
				p For iOS users you can have a look on the demo website, but note that not all features available, and your progress will not be saved.
				p: a(href="https://ordinaryidle.netlify.app") Demo Website
				
				p It is also obviously not finished so expect more features (e.g. prestige, hints) in summer.
				p: button#codeModalTrigger08.btn.btn-link(data-bs-toggle="modal" data-bs-target="#codeModal08") View Screenshots
				a(href="https://play.google.com/store/apps/details?id=com.kidprof.ordinaryidle")
					.row
						.col-12.col-lg-6: +figureWithCaption("images/code/code-ordinaryidle-0a.jpg","Soft Drinks theme","w-100")
						.col-12.col-lg-6: +figureWithCaption("images/code/code-ordinaryidle-0b.jpg","Cookie theme","w-100")
				+modalBox(7,"codeModal08","OrdinaryIdle","")
					.row
						.col-12.col-md-6.col-lg-3: +figureWithCaption("images/code/code-ordinaryidle-1.jpg","Tap count theme","w-100")
						.col-12.col-md-6.col-lg-3: +figureWithCaption("images/code/code-ordinaryidle-2.jpg","Upgrades","w-100")
						.col-12.col-md-6.col-lg-3: +figureWithCaption("images/code/code-ordinaryidle-3.jpg","Achievements","w-100")
						.col-12.col-md-6.col-lg-3: +figureWithCaption("images/code/code-ordinaryidle-4.jpg","Secrets","w-100")
		br
		p.grey-color-text To be continued!