extends ../layouts/default

block js

block append variables 
	- var currentPage = "home";
	- var themeColor = "dark";

mixin meInfo(icon,image,link)
	.col-2.col-md-1.col-lg-1
		if link
			a(href=link): i.text-center.w-100.fa-solid.fa-lg(class=icon)
		else 
			i.text-center.w-100.fa-solid.fa-lg(class=icon)
		.mb-4
	.col-8.col-md-10.col-lg-4
		if block
			if link
				a(href=link)
					block
			else 
				block
		else
			p Empty
		.mb-4
	.col-2.col-md-1.col-lg-1
		if image
			if link
				a(href=link): img.center-img(src=image width=30)
			else 
				img.center-img(src=image width=30)
		.mb-4
	br

block content
	.container
		h1 Welcome!
		p I am Oscar Mui. This is a casually made website about me.

		.mb-5
		
		.row
			+meInfo("fa-graduation-cap","images/index/oxford.png")
				span Master of Computer Science (MCompSci), University of Oxford, United Kingdom (2021-2025)
			+meInfo("fa-graduation-cap","images/index/sjc.png")
				span St. Joseph's College, Hong Kong (2015-2021)
			+meInfo("fa-house","images/index/hk.png")
				span Hong Kong
			+meInfo("fa-cake-candles",null)
				span 27 November
			+meInfo("fa-code",null,"code.html")
				span Checkout my coding projects! 
			+meInfo("fa-building-columns","images/index/oxford.png","oxford.html")
				span A brief description of my student life at Oxford &nbsp; &nbsp;
				span.badge.bg-primary NEW
		
		//- supposed to be a profile pic
		//- img.round-img(src="images/index/creeper.jpg" width=200)
		//- h2.text-center Oscar Mui
		.mb-4

		h2.d-inline-block Recent Project: OrdinaryIdle
		span.badge.bg-primary.d-inline-block.ms-2 NEW
		p I spent some time learning app development and practice by building a game named OrdinaryIdle, combining essence of an idle game with puzzle solving elements.
		p: a(href="code.html#code8") Learn More
		.row
			.col-12.col-md-6.col-lg-3: +figureWithCaption("images/code/code-ordinaryidle-0a.jpg","Soft Drinks theme","w-100")
			.col-12.col-md-6.col-lg-3: +figureWithCaption("images/code/code-ordinaryidle-0b.jpg","Cookie theme","w-100")
			.col-12.col-md-6.col-lg-3: +figureWithCaption("images/code/code-ordinaryidle-1.jpg","Tap count theme","w-100")
			.col-12.col-md-6.col-lg-3: +figureWithCaption("images/code/code-ordinaryidle-2.jpg","Upgrades","w-100")
		
		
		