extends ../layouts/default

block js

block append variables 
	- var currentPage = "home";
	- var themeColor = "dark";

mixin meInfo(icon,image,link)
	.col-2.col-md-1.col-lg-1
		if link
			a(href=link): img.center-img(src=icon width=30)
		else 
			img.center-img(src=icon width=30)
		.mb-4
	.col-8.col-md-10.col-lg-4
		if block
			if link
				a(href=link).no-color
					block
			else 
				block
		else
			p Empty
		.mb-4
	.col-2.col-md-1.col-lg-1
		if image
			if link
				a(href=link): img.center-img(src=image width=30)
			else 
				img.center-img(src=image width=30)
		.mb-4
	br

block content
	.container
		h1 Welcome!
		p I am Oscar Mui. This is a website about me.

		.mb-5
		
		.row
			+meInfo("images/favicons/graduation-cap.png","images/index/oxford.png","https://www.ox.ac.uk/")
				span Master of Computer Science (MCompSci), University of Oxford, United Kingdom (2021-2025)
			+meInfo("images/favicons/graduation-cap.png","images/index/sjc.png","https://www.sjc.edu.hk/")
				span St. Joseph's College, Hong Kong (2015-2021)
			+meInfo("images/favicons/work.png","images/index/hkma.jpg","https://www.hkma.gov.hk/eng/")
				span Summer Intern, IT Division, Hong Kong Monetary Authority (2024)
			+meInfo("images/favicons/work.png","images/index/astri.jpg","https://www.astri.org/")
				span Summer Intern, Communications Technologies Division, ASTRI (2023)
			+meInfo("images/favicons/home.png","images/index/hk.png","https://www.discoverhongkong.com/uk/index.html")
				span Hong Kong
			+meInfo("images/favicons/birthday.png",null)
				span 27 November
			+meInfo("images/favicons/click.png","images/favicons/coding.png","code.html")
				span Checkout my coding projects! 
			//- +meInfo("fa-calendar-days",null,"leapYear.html")
			//- 	span Is there a leap year every four years? &nbsp; &nbsp;
			//- 	span.badge.bg-primary.italic NEW
			//- +meInfo("fa-building-columns","images/index/oxford.png","oxford.html")
			//- 	span A brief description of my student life at Oxford &nbsp; &nbsp;
				//- span.badge.bg-primary NEW
		
		.container#hobbiesCard
			.row.cards-row
				.col-12.col-md-6.col-xl-4.my-4.cards-col
					.favourite-green-card.card
						.card-header: h3.text-center Latest Project
						.img-with.ribbon
							img.card-image-top.card-image-cover(src="images/code/code-tenbin-0.png")
							img.winner-ribbon(src="images/winner-ribbon.png")
						.card-body: .card-text
							h4.text-center Tenbin - Alice in Borderland
							p A 5-player mini-game inspired by a TV show on Netflix. (今際の国のアリス)
							ul
								li 700+ downloads on Google Play
								li First multiplayer game
								li Used a lot of newly self-learnt framework and technologies, including TypeScript, WebSocket, Kivy and the Asyncio library 
							//- brs to make space for the card-bottom
							br
						.card-bottom
							a(href="code/tenbin.html") Read More 
				.col-12.col-md-6.col-xl-4.my-4.cards-col
					.favourite-orange-card.card
						.card-header: h3.text-center Proudest Creation
						.img-with.ribbon
							img.card-image-top.card-image-cover(src="images/code/code-hyminions-2.png")
							img.winner-ribbon(src="images/winner-ribbon.png")
						.card-body: .card-text
							h4.text-center HyMinions
							p Calculating the optimal setup to maximize offline income of a game in Minecraft.
							ul
								li Over 500 daily views
								li Earning a small amount of ad revenue
							//- brs to make space for the card-bottom
							br
						.card-bottom
							a(href="code.html#code5") Read More 
				.col-12.offset-md-3.col-md-6.offset-xl-0.col-xl-4.my-4.cards-col
					.favourite-red-card.card
						.card-header: h3.text-center Featured Project
						.img-with.ribbon
							img.card-image-top.card-image-cover(src="images/code/code-greenme-0.png")
							img.winner-ribbon(src="images/winner-ribbon.png")
						.card-body: .card-text
							h4.text-center GreenMe - OxfordHack 2022
							p Gamifies actions to reduce an individual's environmental footprint. 
							ul
								li I successfully building a responsive and clean front-end web app using ExpressJS within 24 hour.
								li Found team members on the spot and understood their strengths for effective work division.
							//- brs to make space for the card-bottom
							br
						.card-bottom
							a(href="code.html#code7") Read More 
		//- .mb-4
		//- figure.figure.memoryInsideOut: .row.justify-content-center: .col-12.col-lg-8
		//-	 img.w-100(src="images/index/20221127.jpg")
		//-	 figcaption.figure-caption 斜陽無限，無奈只一息間燦爛。<br />When your world moves too fast and you lose yourself in the chaos,introduce yourself to each color of the sunset.
		//- h2.d-inline-block Recent Project: OrdinaryIdle
		//- span.badge.bg-primary.d-inline-block.ms-2 NEW
		//- p I spent some time learning app development and practice by building a game named OrdinaryIdle, combining essence of an idle game with puzzle solving elements.
		//- p: a(href="code.html#code8") Learn More
		//- .row
		//-	 .col-6.col-md-3: +figureWithCaption("images/code/code-ordinaryidle-0a.jpg","Soft Drinks theme","w-100")
		//-	 .col-6.col-md-3: +figureWithCaption("images/code/code-ordinaryidle-0b.jpg","Cookie theme","w-100")
		//-	 .col-6.col-md-3: +figureWithCaption("images/code/code-ordinaryidle-1.jpg","Tap count theme","w-100")
		//-	 .col-6.col-md-3: +figureWithCaption("images/code/code-ordinaryidle-2.jpg","Upgrades","w-100")
		
		
		