extends ../layouts/default

block js

block append variables 
	- var currentPage = "teaching";

mixin resource(icon,title,download,link)
	.col-2.col-md-1
		if link
			a(href=link): i.text-center.w-100.fa-solid.fa-xl(class=icon)
		else 
			i.text-center.w-100.fa-solid.fa-xl(class=icon)
		.mb-4
	.col-8.col-md-10
		if link
			a(href=link)
				span #{title} <br />
		if block
			block
		.mb-4
	.col-2.col-md-1
		if download
			if link
			a(href=link): i.text-center.w-100.fa-solid.fa-xl(class=download)
		else 
			i.text-center.w-100.fa-solid.fa-xl(class=download)
		.mb-4
	br

block content
	.container
		h1 Teaching

		p Resources that I created for teaching or for my own study. They are all in English unless otherwise specified.

		h2 Video Series
		
		.row
			.col-2.col-md-1
				a(href="https://www.youtube.com/playlist?list=PLjGmdnqrOKuYXiu7lgG5HW71jPEUd1XCm"): i.text-center.w-100.fa-solid.fa-xl(class="fa-video")
				br
				br
				a(href="https://drive.google.com/drive/u/1/folders/1eHRy6HUN-hmvUn8ZmCNqfFIa_30QVboO"): i.text-center.w-100.fa-solid.fa-xl(class="fa-file")
				.mb-4
			.col-8.col-md-10
				a(href="https://www.youtube.com/playlist?list=PLjGmdnqrOKuYXiu7lgG5HW71jPEUd1XCm")
					span Web & Git Tutorial <br />
				span.italic.
					<br />
					The <a href="https://drive.google.com/drive/u/1/folders/1Fu2oudCqDdi--18AihuEoEzokJhEYbjg">(finished) full version of the notes</a> and the <a href="https://www.youtube.com/playlist?list=PLjGmdnqrOKuYXiu7lgG5HW71jPEUd1XCm">(unfinished) YouTube series</a> covers one way of building a static website.
					We use Pug.js (sometimes abbreviated to Pug in this piece of notes) instead of
					HTML, less instead of CSS. And used gulp to translate the files back to HTML and
					CSS. The generated HTML files can be directly opened by the browser. We also
					included Bootstrap to make our static website responsive.
					At the same time, we will be learning how to use Git and command line tools.
					<br /><br />
					At the same time, <a href="https://drive.google.com/drive/u/1/folders/1eHRy6HUN-hmvUn8ZmCNqfFIa_30QVboO">cutdown versions of the notes</a> are available that only uses plain HTML with Bootstrap for the Learn to Code sessions held at Oxford in Hilary 2023 (Jan - Feb 2023).
				.mb-4
			.col-2.col-md-1
				a(href="https://www.youtube.com/playlist?list=PLjGmdnqrOKuYXiu7lgG5HW71jPEUd1XCm"): i.text-center.w-100.fa-solid.fa-xl(class="fa-brands fa-youtube")
				br
				br
				a(href="https://drive.google.com/drive/u/1/folders/1eHRy6HUN-hmvUn8ZmCNqfFIa_30QVboO"): i.text-center.w-100.fa-solid.fa-xl(class="fa-cloud-arrow-down")
				.mb-4
			br


		.row
			.col-2.col-md-1
				a(href="https://www.youtube.com/playlist?list=PLjGmdnqrOKuZ95Um2Ir2p6ylPVKWvUDK6"): i.text-center.w-100.fa-solid.fa-xl(class="fa-video")
				br
				br
				a(href="https://drive.google.com/drive/u/1/folders/1yXzQWlROb8d1X88eyuRIKzfBvb_bWURX"): i.text-center.w-100.fa-solid.fa-xl(class="fa-file")
				.mb-4
			.col-8.col-md-10
				a(href="https://www.youtube.com/playlist?list=PLjGmdnqrOKuZ95Um2Ir2p6ylPVKWvUDK6")
					span HKOI Notes <br />
				span.italic A piece of notes to introduce senior secondary school students with more advanced programming theories, so as to prepare them for programming competitions like HKOI, with live session explaining it (in Cantonese).
				.mb-4
			.col-2.col-md-1
				a(href="https://www.youtube.com/playlist?list=PLjGmdnqrOKuZ95Um2Ir2p6ylPVKWvUDK6"): i.text-center.w-100.fa-solid.fa-xl(class="fa-brands fa-youtube")
				br
				br
				a(href="https://drive.google.com/drive/u/1/folders/1yXzQWlROb8d1X88eyuRIKzfBvb_bWURX"): i.text-center.w-100.fa-solid.fa-xl(class="fa-cloud-arrow-down")
				.mb-4
			br

		h2 Notes
		.row
			+resource("fa-brands fa-github","Setup Cheetsheet for MacOS","fa-cloud-arrow-down","https://github.com/OscarMui/setup-cheetsheet-macos")
				span.italic Setup guide for MacOS users, useful especially if you have multiple GitHub accounts.
		.row
			+resource("fa-brands fa-github","Python Introductory Notes - Oxford CompSoc","fa-cloud-arrow-down","https://github.com/oxcompsoc/learntocode")
				span.italic Each year Oxford University CompSoc runs an introductory programming course in Python. I am responsible for holding the course and update the materials for the 2022 course together with my colleague Viktor.
		.row
			+resource("fa-file","Continuous Maths Notes","fa-cloud-arrow-down","https://drive.google.com/drive/folders/1tLVUgpsYzJcq7NCjdn-TYsefmb4UDJV0?usp=sharing")
				span.italic (discontinued) Summary Notes on the Continuous Maths course at Oxford.
		.row
			+resource("fa-file","Functional Programming Notes","fa-cloud-arrow-down","https://drive.google.com/drive/folders/1U4JJg8-EMvrdrLRXvvlwlUXuteQkkDVY?usp=sharing")
				span.italic (discontinued) Summary Notes on the Funtional Programming course at Oxford. This piece of notes records most predefined functions in the lecture notes, with reordering for easier revision. 


		p If you spot any mistakes in my notes feel free to <a href="contact.html">correct me</a>.